/************************************************************
 *                             PC                           *
 ************************************************************/

/***********
 *   top   *
 ***********/
#top {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/top_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#top_wrap {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  text-align: center;
}

#top_menu {
  padding-top: 2%;
}

#top_menu a {
  margin: 0 2%;
  color: rgb(255, 255, 255);
}

#top_menu a:hover {
  color: rgb(186, 156, 123);
  transition: all .5s ease-out;
}

#top_title {
  margin-top: 40vh;
}

#top_title h1 {
  font-size: 5vw;
}

/***************
 *   company   *
 ***************/
#company_tab_wrap {
  display: flex;
}

#company_tab_philosophy{
  padding: 1% 2%;
  border-top: 1px solid rgb(122, 122, 122);
  border-right: 1px solid rgb(122, 122, 122);
  border-left: 1px solid rgb(122, 122, 122);
  cursor: pointer;
}

#company_tab_about,
#company_tab_history,
#company_tab_overview {
  padding: 1% 2%;
  border-top: 1px solid rgb(122, 122, 122);
  border-right: 1px solid rgb(122, 122, 122);
  cursor: pointer;
}

#company_contents {
  width: 100%;
  height: 60vh;
  border: 1px solid rgb(122, 122, 122);
  display: flex;
  justify-content: center;
  align-items: center;
}

#company_contents_about,
#company_contents_history,
#company_contents_overview {
  display: none;
}

#company_contents_philosophy p,
#company_contents_about p {
  margin-bottom: 5%;
  text-align: center;
}

#company_contents_history table,
#company_contents_overview table {
  width: 120%;
}

#company_contents_history th,
#company_contents_overview th {
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid rgb(204, 204, 204);
}

#company_contents_history td,
#company_contents_overview td {
  padding: 1% 0 1% 1%;
  border-bottom: 1px solid rgb(204, 204, 204);
}

/* クリックされたタブの色が変わる */
.active_tab {
  background-color: rgb(122, 122, 122);
  color: rgb(255, 255, 255);
  transition: all .5s ease-out;
}

/****************
 *   services   *
 ****************/
#services {
  background-image: url("../img/services_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#services_wrap {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  /* footerを最下部に表示する指定 */
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
#services_inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.services_items {
  width: 28%;
  height: 30vw;
  padding: 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.services_items h3 {
  margin: 5% 0;
}

.services_items p {
  line-height: 200%;
  margin-bottom: 5%;
}


/*************
 *   items   *
 *************/
.items_wrap {
  width: 80%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

.items_right {
  text-align: right;
  margin-left: 20%;
}

.items_img {
  width: 35%;
}

/**************
 *   access   *
 **************/
#access_map {
  width: 70%;
  height: 50vh;
  margin: 0 auto;
}

#access_address {
  width: 70%;
  margin: 1% auto 0 auto;
}

/***************
 *   contact   *
 ***************/
#contact_items {
  margin: 2% 0;
  display: flex;
  font-size: 1.3vw;
}

#contact_items p:first-of-type {
  width: 6%;
}


/************************************************************
 *                             SP                           *
 ************************************************************/
@media screen and (max-width: 767px) {
  /***********
   *   top   *
   ***********/
  #top_wrap {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #top_menu {
    display: none;
    position: absolute;
    bottom: 10%;
    right: 3%;
  }

  #top_menu a {
    display: block;
    margin: 10% 0;
  }

  #top_title h1 {
    font-size: 10vw;
  }

  /* humberger menu */
  .top_humberger {
    border: 1px solid rgb(255, 255, 255);
  }

  .top_humberger_inner div {
    background-color: rgb(255, 255, 255);
  }

}

