<!DOCTYPE html>
<html lang="ja" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>ITEMS</title>
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet" href="../css/style.css">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script type="text/javascript" src="../js/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="../js/component.js"></script>
    </head>
    <body>

        <!-- header -->
        <script type="text/javascript">header();</script>

        <!-- main -->
        <main>
            <div id="page_title">
                <h2>ITEMS</h2>
            </div>
            <div class="items_wrap">
                <div class="items_img">
                    <img src="../img/item_1.jpg">
                </div>
                <div class="items_contents">
                    <h3>item name</h3>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                </div>
            </div>
            <div class="items_wrap items_right">
                <div class="items_contents">
                    <h3>item name</h3>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                </div>
                <div class="items_img">
                    <img src="../img/item_2.jpg">
                </div>
            </div>
            <div class="items_wrap">
                <div class="items_img">
                    <img src="../img/item_3.jpg">
                </div>
                <div class="items_contents">
                    <h3>item name</h3>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                </div>
            </div>
            <div class="items_wrap items_right">
                <div class="items_contents">
                    <h3>item name</h3>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                    <p>text text text text text text text text text text text text text text text text text text text text</p>
                </div>
                <div class="items_img">
                    <img src="../img/item_4.jpg">
                </div>
            </div>
        </main>

        <!-- footer -->
        <script type="text/javascript">footer();</script>

    </body>
</html>
