<!DOCTYPE html>
<html lang="ja" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>SERVICES</title>
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet" href="../css/style.css">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script type="text/javascript" src="../js/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="../js/component.js"></script>
    </head>
    <body id="services">
        <div id="services_wrap">
            <!-- header -->
            <script type="text/javascript">header();</script>

            <!-- main -->
            <main>
                <div id="page_title">
                    <h2>SERVICES</h2>
                </div>
                <div id="services_inner">
                    <div class="services_items">
                        <h3>営業</h3>
                        <p>信用第一での40年あまりの経験とノウハウに加え、社会の変化を敏感に捉えた定番商品・売れ筋商品・トレンド商品を企画部門と連携しながら開発し、更に優れた商品をお客様にお届けします。</p>
                    </div>
                    <div class="services_items">
                        <h3>企画</h3>
                        <p>営業部門とのタイアップを図り、お客様の立場(イメージ・感性・ご希望）に立った商品のご提案。</p>
                        <p>デザインからサンプル試作、生産段階までの技術面・品質面・納期面・コスト面など、お客様にご満足いただけるよう丁寧に考えます。</p>
                    </div>
                    <div class="services_items">
                        <h3>生産（貿易）</h3>
                        <p>国内はもとより海外の協力工場の能力を最大限に引き出し、納期管理・品質管理・コスト管理を第一に価値ある商品を日々積極的に探究します。</p>
                    </div>
                </div>
            </main>

            <!-- footer -->
            <script type="text/javascript">footer();</script>

        </div>
    </body>
</html>
